<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
	<Bundle
		Id="TODO_Manufacturer.Bundle"
		Name="Bundle"
		Manufacturer="TODO Manufacturer"
		UpgradeCode="{67E841C9-3044-4DFC-87CC-0D23BB72FD7C}"
		Version="1.0.0"
		>
		<BootstrapperApplication SourceFile="$(var.WpfApp1.TargetDir)WpfApp1.exe">
			<Payload SourceFile="$(var.WpfApp1.TargetDir)WpfApp1.deps.json" Name="WpfApp1.deps.json" />
			<Payload SourceFile="$(var.WpfApp1.TargetDir)runtimes\win-x64\native\mbanative.dll" Name="mbanative.dll" />
			<Payload SourceFile="$(var.WpfApp1.TargetDir)WpfApp1.runtimeconfig.json" Name="WpfApp1.runtimeconfig.json" />
			<Payload SourceFile="$(var.WpfApp1.TargetDir)WixToolset.BootstrapperApplicationApi.dll" Name="WixToolset.BootstrapperApplicationApi.dll" />
			<Payload SourceFile="$(var.WpfApp1.TargetDir)WpfApp1.dll" Name="WpfApp1.dll" />
			<Payload SourceFile="$(var.WpfApp1.TargetDir)Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" />
			<Payload SourceFile="$(var.WpfApp1.TargetDir)CommunityToolkit.Mvvm.dll" />
		</BootstrapperApplication>

		<Variable Name="CreateShortcut" Type="numeric" Value="1" />

		<Chain>
			<MsiPackage SourceFile="$(var.Package.TargetDir)ja-JP\Package.msi">
				<MsiProperty Name="CREATESHORTCUT" Value="[CreateShortcut]" />
			</MsiPackage>
		</Chain>

	</Bundle>
</Wix>
