<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis" >
	<Fragment>
		<ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
			<Component Id="cmp_ConsoleApp1_deps_json" Guid="9195E38E-A1A5-4B70-9CA5-EF916750ED26" Directory="INSTALLFOLDER">
				<File Source="..\ConsoleApp1\bin\Release\net10.0\ConsoleApp1.deps.json" KeyPath="no" />
				<RegistryValue Root="HKCU" Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components" Name="ConsoleApp1.deps.json" Type="integer" Value="1" KeyPath="yes" />
			</Component>
			<Component Id="cmp_ConsoleApp1_dll" Guid="3DE93968-99C3-452C-8A76-50F7DE7261A6" Directory="INSTALLFOLDER">
				<File Source="..\ConsoleApp1\bin\Release\net10.0\ConsoleApp1.dll" KeyPath="no" />
				<RegistryValue Root="HKCU" Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components" Name="ConsoleApp1.dll" Type="integer" Value="1" KeyPath="yes" />
			</Component>
			<Component Id="cmp_ConsoleApp1_exe" Guid="4BB6CA6B-33AF-4B23-882E-310C91E28624" Directory="INSTALLFOLDER">
				<File Source="..\ConsoleApp1\bin\Release\net10.0\ConsoleApp1.exe" KeyPath="no" />
				<RegistryValue Root="HKCU" Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components" Name="ConsoleApp1.exe" Type="integer" Value="1" KeyPath="yes" />
			</Component>
			<Component Id="cmp_ConsoleApp1_pdb" Guid="30768C42-4117-46EA-A4D5-B7A614E78F5D" Directory="INSTALLFOLDER">
				<File Source="..\ConsoleApp1\bin\Release\net10.0\ConsoleApp1.pdb" KeyPath="no" />
				<RegistryValue Root="HKCU" Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components" Name="ConsoleApp1.pdb" Type="integer" Value="1" KeyPath="yes" />
			</Component>
			<Component Id="cmp_ConsoleApp1_runtimeconfig_json" Guid="E3DB0092-D2C2-439F-81D5-05ADC583630F" Directory="INSTALLFOLDER">
				<File Source="..\ConsoleApp1\bin\Release\net10.0\ConsoleApp1.runtimeconfig.json" KeyPath="no" />
				<RegistryValue Root="HKCU" Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components" Name="ConsoleApp1.runtimeconfig.json" Type="integer" Value="1" KeyPath="yes" />
			</Component>
			<Component Id="cmp_settings_json" Guid="EE18C09B-0415-44EF-A6D0-E113E5E24EA3" Directory="settings">
				<File Source="..\ConsoleApp1\bin\Release\net10.0\settings\settings.json" KeyPath="no" />
				<RegistryValue Root="HKCU" Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components" Name="settings.json" Type="integer" Value="1" KeyPath="yes" />
			</Component>
			<Component Id="InstallIntermediateCert" Guid="{DA8E181E-A83F-4E07-BA8F-4988A4EA8557}" Directory="INSTALLFOLDER">
				<!-- Certificate定義 -->
				<!-- StoreName="CA" が「中間証明機関」ストアを指します -->
				<iis:Certificate Id="TestIntermediateCert"
									Name="TestIntermediateCert"
									StoreLocation="currentUser"
									StoreName="ca"
									BinaryRef="IntermediateCertBinary"
									Request="no" />
				<RegistryValue Root="HKCU" Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components" Name="IntermediateCert" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</ComponentGroup>

	</Fragment>
</Wix>