<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<Binary Id="MyHelloWorldDLL" SourceFile="$(var.CustomAction.TargetDir)CustomAction.CA.dll" />
		<CustomAction Id="CallHelloWorld"
						  BinaryRef="MyHelloWorldDLL"
						  DllEntry="CustomAction"
						  Execute="immediate" />
		<InstallExecuteSequence>
			<Custom Action="CallHelloWorld" Before="LaunchConditions" />
		</InstallExecuteSequence>
	</Fragment>
</Wix>