<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
			<Component Id="MainExecutable" Guid="{BA243F7E-C803-4A80-AD77-499E538E2182}">
				<File Source="$(var.ConsoleApp1.TargetDir)ConsoleApp1.exe" />
				<RegistryValue Root="HKCU"
							   Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components"
							   Name="MainExe"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
				<Shortcut Id="AppShortcut"
							  Name="My Console App"
							  Description="My Awesome Console Application"
							  Directory="DesktopFolder"
							  WorkingDirectory="INSTALLFOLDER"
						      Target="[INSTALLFOLDER]\ConsoleApp1.exe"
				 />
			</Component>
			<Component Id="ConsoleApp1.runtimeconfig.json" Guid="{F59BE621-FDC2-42AD-98C3-033D66637500}">
				<File Source="$(var.ConsoleApp1.TargetDir)ConsoleApp1.runtimeconfig.json" />
				<RegistryValue Root="HKCU"
							   Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components"
							   Name="ConsoleApp1.runtimeconfig.json"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
			<Component Id="SettingFile" Guid="{1037D81D-ADC6-48AD-9C5E-F4E4A60CF35E}">
				<File Source="$(var.ConsoleApp1.TargetDir)setting.json" />
				<RegistryValue Root="HKCU"
							   Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components"
							   Name="SettingJson"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
			<Component Id="ConsoleApp1.dll" Guid="{043517C6-C230-4B05-B8CA-B28F2397D5FE}">
				<File Source="$(var.ConsoleApp1.TargetDir)ConsoleApp1.dll" />
				<RegistryValue Root="HKCU"
							   Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Components"
							   Name="ConsoleApp1.dll"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>

		</ComponentGroup>

	</Fragment>
</Wix>