<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

	<?include Setting.wxi ?>
	
	<Package 
		Id="TODO_Manufacturer.Package"  
		Name="Package" 
		Scope="perUser"
		Manufacturer="TODO Manufacturer" 
		Version="1.0.0"
		ProductCode="*"
		UpgradeCode="{AEA9E389-E9D4-4312-BBED-FE534C03CE77}"
	>
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
		<WixVariable Id="WixUILicenseRtf" Value="!(loc.LicenseFile)" />

		<Property Id="CREATESHORTCUT" Value="1" Secure="yes" />
		<Property Id="LOGPATH" Secure="yes" />
		
		<Feature Id="Main">
			<ComponentGroupRef Id="AppComponents" />
			<ComponentGroupRef Id="CleanupFolderComponents" />
		</Feature>
		<Feature Id="ShortcutFeature" Title="Shortcut" Level="1">
			<ComponentRef Id="DesktopShortcut" />
			<Level Value="0" Condition="CREATESHORTCUT=&quot;0&quot;" />
		</Feature>
		<Feature Id="GoogleShortcutFeature" Title="Shortcut" Level="1">
			<ComponentRef Id="GoogleShortcut" />
		</Feature>


		<!-- 証明書ファイルのバイナリ登録 -->
		<Binary Id="IntermediateCertBinary" SourceFile="TestIntermediateCA.cer" />
		<!-- Custom Action -->
		<Binary Id="CustomActionDLL" SourceFile="$(var.CustomAction.TargetDir)CustomAction.CA.dll" />

		<CustomAction Id="CallBeginCustomAction"
						  BinaryRef="CustomActionDLL"
						  DllEntry="CustomAction"
						  Execute="immediate" />

		<CustomAction Id="SetInstallFolder"
					  Property="DoSettings"
					  Value="INSTALLFOLDER=[INSTALLFOLDER]" />

		<CustomAction Id="DoSettings"
					  BinaryRef="CustomActionDLL"
					  DllEntry="DoSettings"
					  Execute="deferred"
					  Impersonate="no" />

		<InstallExecuteSequence>
			<Custom Action="CallBeginCustomAction" Before="LaunchConditions" />
			<Custom Action="SetInstallFolder" Before="InstallFinalize" />
			<Custom Action="DoSettings" After="SetInstallFolder" />
		</InstallExecuteSequence>

	</Package>
</Wix>
