<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package 
		Id="TODO_Manufacturer.Package"  
		Name="Package" 
		Scope="perUser"
		Manufacturer="TODO Manufacturer" 
		Version="1.0.0"
		ProductCode="{76C31920-D0D1-4570-B88E-DB95999742BA}"
	>
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
		<WixVariable Id="WixUILicenseRtf" Value="!(loc.LicenseFile)" />

		<Property Id="CREATESHORTCUT" Value="1" Secure="yes" />
		
		<Feature Id="Main">
			<ComponentGroupRef Id="AppComponents" />
			<ComponentGroupRef Id="CleanupFolderComponents" />
		</Feature>
		<Feature Id="ShortcutFeature" Title="Shortcut" Level="1">
			<ComponentRef Id="DesktopShortcut" />
			<Level Value="0" Condition="CREATESHORTCUT=&quot;0&quot;" />
		</Feature>		
	</Package>
</Wix>
